/HRI/*
/path/
/tools/*
/partials/*
src/sizing/**/__pycache__/
*.html
solvevtolaircraft_out/
computeweights_out/*
cruisemaxefficiency_out/*
computeturbocruiserange_out/*
computeturbocruiserange_out/*
computeamos_out/*
computehover_out/
computecruise_out/*
