name: cumulus
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - numpy
  - scipy
  - matplotlib
  - pip
  - pip:
    - openmdao==3.42.0
    - git+https://github.com/OpenMDAO/pyCycle.git
